/* Utility classes */
body{
    font-family: 'Poppins', sans-serif;
}
/* slide */
.custom-font{
    font-size: 1rem;
}
.custom-img{
    filter: brightness(0.6);
}
.text-responsive {
    font-size: 15px;
  }
  /* join now */
  .custom-bg{
    background-color: #289BDE;
  }

/* footer */
hr{
    border-bottom: 4px solid white;
}